name: Test Action

on:
  pull-request:

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2
        with:
          node-version: 16
      - run: npm install
      - run: npm run build
      - run: rm -rf node_modules
      - uses: ./
      - uses: ./
        with:
          person: Batman
